.packs {
    .in {
        position: relative;

        .error {
            top: 140px;
        }
    }

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        @include mb {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .filter {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 45px;
        padding: 40px 0 25px 0;

        @include nb {
            padding: 30px 0 20px 0;
            gap: 35px;
        }

        @include tb {
            padding: 20px 0 15px 0;
            gap: 20px;
        }

        @include mb {
            padding: 15px 0;
            gap: 10px;
        }
    }

    .table-wrapper {
        @include mb {
            overflow-x: auto;
        }

        .table {
            border: 1px solid $color10;

            @include mb {
                min-width: 700px;
            }

            .table-head,
            .table-body {
                .item {
                    padding: 15px 0;

                    @include mb {
                        padding: 10px 0;
                    }

                    &:not(:first-child) {
                        padding-left: 10px;
                    }

                    &:not(:last-child) {
                        padding-right: 10px;
                    }
                    &.name:not(.disabled) {
                        @include animate;
                        cursor: pointer;
                        &:hover {
                            color: $color4;
                        }
                    }
                    &.disabled {
                        cursor: not-allowed;
                    }
                }
            }

            .table-head,
            .table-body .items {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 75px;
                padding: 0 30px;

                @include nbtb {
                    grid-template-columns: 1fr 0.5fr 1fr 1fr 75px;
                }

                @include mb {
                    grid-template-columns: 1fr 0.5fr 1fr 1fr 75px;
                    padding: 0 15px;
                }
            }

            .table-head {
                background: $color9;

                .item {
                    &.with-sort {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        span {
                            &.active {
                                svg {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
            }

            .table-body {
                border-top: 1px solid $color10;

                .items {
                    &+.items {
                        border-top: 1px solid $color10;
                    }
                }

                .item {
                    padding: 15px 0;

                    &:first-child {
                        word-break: break-all;
                    }
                }

                .actions {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .action-item {
                        cursor: pointer;

                        svg {
                            @include animate;
                        }

                        &:hover {
                            svg {
                                fill: $color4;
                            }
                        }

                        &.disabled {
                            pointer-events: none;

                            svg {
                                fill: rgba($color8, 0.5);
                            }
                        }
                    }
                }

                .empty {
                    padding: 15px;
                }
            }
        }
    }
}