.filter-container {
  width: 40px;
  height: 36px;
  background: $color1;
  border: 1px solid $color10;
  border-radius: 2px;

  @include mb {
    width: 30px;
  }

  .filter-remove {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    @include animate;

    svg {
      @include animate;
    }

    &:hover {
      background: $color4;

      svg {
        fill: $color1;
      }
    }
  }
}