.show-cards-container {
  @include mb {
    width: calc(100% - 212px);
  }

  .show-title {
    padding-bottom: 10px;
  }

  .show-cards-wrapper {
    @include mb {
      display: flex;
      align-items: center;
    }

    .my-cards,
    .all-cards {
      width: 110px;
      height: 36px;
      border-radius: 2px;
      text-align: center;
      border: 1px solid $color10;
      @include mb {
        width: 100%;
      }
    }

    .my-cards {
      background: $color1;
    }

    .all-cards {
      background: $color4;
      color: $color1;
    }
  }
}