.search-container {
  flex: auto;
  @include mb {
    width: 100%;
  }

  .search-title {
    padding-bottom: 10px;
  }

  .inputSpan {
    position: relative;
  }

  .input {
    height: 36px;
    background: $color1;
    border: 1px solid $color10;
    border-radius: 2px;
    color: $color2;
    padding: 0 35px;
    width: 100%;
  }

  .magnifier {
    position: absolute;
    transform: translateY(-50%);
    opacity: 0.4;
    left: 10px;
    top: 50%;
  }

  ::-webkit-input-placeholder {
    opacity: 0.5;
  }
}