.profile {
    .auth-form {
        align-items: center;
        .name-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            &:not(:first-child) {
                margin-top: 15px;
            }
        }

        .email {
            &:not(:first-child) {
                margin-top: 15px;
            }
        }
        .styled-btn {
            width: auto;
        }
    }
}