.header {
    background: $color7;
    box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    height: 60px;
    display: flex;
    align-items: center;
    @include mb {
        height: 50px;
    }

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        @include mb {
            display: flex;
        }

        .logo {
            height: 46px;
            @include nbtb {
                height: 40px;
            }
            @include mb {
                height: 30px;
            }
            img {
                width: auto;
                height: 100%;
            }
        }

        .user-info {
            .link-profile {
                display: flex;
                align-items: center;
                gap: 12px;
                text-decoration: none;
                color: inherit;
            }

            .avatar {
                img {
                    width: 36px;
                    height: 36px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }

        .styled-btn {
            min-width: 115px
        }
    }
}
