.pagination {
  display: flex;
  padding: 30px 40px 30px 0;

  @include nb {
    padding: 25px 30px 25px 0;
  }

  @include tb {
    padding: 20px 25px 20px 0;
  }

  @include mb {
    padding: 15px 0;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;

    svg {
      width: 11px;
      height: 9px;
    }

    &:hover {
      background-color: lighten(#366EFF, 30%);
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .button:not(:last-child) {
    margin-right: 12px;

    @include mb {
      margin-right: 7px;
    }
  }

  .currentPage {
    color: white;
    background-color: #366EFF;

    &:hover {
      background-color: #366EFF;
    }
  }
}